.card {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardimage {
  margin-left: 50px;
  box-sizing: border-box;
  border-radius: 5px !important;
}

.search-field {
  margin-left: -200px;
  width: 550px;
  border-radius: 5px 0px 0px 5px;
  box-sizing: border-box;
  border: 2px solid #668C03;
}

.search-button {
  background-color: #668C03;
  color: #FFFFFF;
  border-radius: 0px 5px 5px 0px;
}

.nav-button {
  margin-right: 15px;
  text-align: center;
  background-color: #668C03;
  color: #FFFFFF !important;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
}

.close-button {
  width: 60px;
  height: 29px !important;
  background-color: #668C03 !important;
  padding-top: 1px !important;
}

.notice {
  color: #668C03;
}

.join-button {
  display: flex;
  flex-direction: row;
  width: 200px;
  text-align: center;
  background-color: #668C03;
  color: #FFFFFF !important;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
}

.nav-img {
  width: 300px;
}

.navbar-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #668C03;
  color: #FFFFFF;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #668C03;
  color: #FFFFFF;
  margin-top: 20px;
}

.col-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-div {
  margin-top: 30px;
  width: 50%;
}

.text {
  display: flex;
  flex-direction: column;
  color: #668C03;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.about {
  text-align: center;
}

.about-img {
  margin-top: 20px;
  border-radius: 5px !important;
}

.contact-row {
  margin-top: 20px;
  background-color: red;
}

.radio {
  margin-right: 30px;
  margin-left: 5px;
}

.request-button {
  background-color: #668C03 !important;
  width: 150px !important;
}

.delete-button {
  background-color: red !important;
  width: 150px !important;
  margin-left: 12px;
  margin-top: 3px;
}

.edit-button {
  background-color: #668C03 !important;
  width: 150px !important;
  margin-top: 0px !important;
}

.add-new-book-button {
  background-color: #668C03 !important;
  width: 150px !important;
}

.add-new-user-button {
  background-color: #668C03 !important;
  width: 150px !important;
}

.request-pop-over-h2 {
  color: #668C03;
}

.slideshow-container {
  max-width: 55%;
  position: relative;
  margin: auto;
  margin-top: 20px;
}

.slides {
  display: flex;
}

.slide {
  flex: 0 0 100%;
  display: none;
  position: relative;
}

.slide.active {
  display: block;
}

.slide img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  text-align: center;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
}

.navbar-div {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.user-name {
  margin-right: 10px;
  font-weight: bold;
}
.recently-added {
  text-align: center;
  color: #FFFFFF;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #668C03;
}
.home-book {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
.home-book-count {
  font-size: 50px;
  font-weight: bold;
  color: #A00104;
}
.home-book-avaible {
  font-size: 50px;
  font-weight: bold;
  color: #668C03;
  margin-left: 15px;
}
.last-added {
  text-align: center;
}
.result-note {
  height: 250px;
  text-align: center;
  margin-top: 180px;
}